.header {
  display: inline-block;
}

.nav {
  display: flex;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: rgb(32, 238, 14);
  font-weight: 600;
}

.link:hover {
  color: #c6edc9;
}

.active {
  color: white;
  background-color: rgb(13, 0, 255);
}
